# Exploratory Data Analysis of Superstore Sales

### Data import and viewing

In [1]:
import pandas as pd
df = pd.read_excel('Sample - Superstore.xls')
df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs, Rounded Back",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters by Universal,14.6200,2,0.00,6.8714
3,4,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [2]:
from lxml import html
import requests
headers= {"User-Agent":"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/52.0.2743.82 Safari/537.36"}
url = "https://www23.statcan.gc.ca/imdb/p3VD.pl?Function=getVD&TVD=53971"
result = requests.get(url, headers=headers)
tree = html.fromstring(result.content)
# print(result.text)
state_names_tree = './/table[1]/tbody/tr/td[1]'
state_codes_tree = './/table[1]/tbody/tr/td[3]'

state_names = [title.text for title in tree.findall(state_names_tree)]
state_codes = [title.text for title in tree.findall(state_codes_tree)]
# for i in zip(state_name_tree, state_codes_tree):
#     state_names.append(i[0].text())
#     state_codes.append(i[1].text())
    
print(state_names, state_codes)

['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 'Colorado', 'Connecticut', 'Delaware', 'District of Columbia', 'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire', 'New Jersey', 'New Mexico', 'New York', 'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania', 'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington', 'West Virginia', 'Wisconsin', 'Wyoming'] ['AL', 'AK', 'AZ', 'AR', 'CA', 'CO', 'CT', 'DE', 'DC', 'FL', 'GA', 'HI', 'ID', 'IL', 'IN', 'IA', 'KS', 'KY', 'LA', 'ME', 'MD', 'MA', 'MI', 'MN', 'MS', 'MO', 'MT', 'NE', 'NV', 'NH', 'NJ', 'NM', 'NY', 'NC', 'ND', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX', 'UT', 'VT', 'VA', 'WA', 'WV', 'WI', 'WY']

In [3]:
mapper = dict(zip(state_names, state_codes))
df['State_Code'] = df['State'].map(mapper)
df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,State_Code
0,1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136,KY
1,2,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs, Rounded Back",731.9400,3,0.00,219.5820,KY
2,3,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters by Universal,14.6200,2,0.00,6.8714,CA
3,4,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310,FL
4,5,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164,FL

### Checking for null values and filling null values if required

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 22 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9994 non-null   int64
 1   Order ID       9994 non-null   object
 2   Order Date     9994 non-null   datetime64[ns]
 3   Ship Date      9994 non-null   datetime64[ns]
 4   Ship Mode      9994 non-null   object
 5   Customer ID    9994 non-null   object
 6   Customer Name  9994 non-null   object
 7   Segment        9994 non-null   object
 8   Country        9994 non-null   object
 9   City           9994 non-null   object
 10  State          9994 non-null   object
 11  Postal Code    9994 non-null   int64
 12  Region         9994 non-null   object
 13  Product ID     9994 non-null   object
 14  Category       9994 non-null   object
 15  Sub-Category   9994 non-null   object
 16  Product Name   9994 non-null   object
 17  Sales          9994 non-null   float64
 18  Quantity       9994 non-null   int64
 19  Discount       9994 non-null   float64
 20  Profit         9994 non-null   float64
 21  State_Code     9994 non-null   object
dtypes: datetime64[ns](2), float64(3), int64(3), object(14)
memory usage: 1.7+ MB

### Basic range spread and percentile for Quantitative data

In [5]:
df.describe()

,Row ID,Postal Code,Sales,Quantity,Discount,Profit
count,9994.000000,9994.000000,9994.000000,9994.000000,9994.000000,9994.000000
mean,4997.500000,55190.379428,229.858001,3.789574,0.156203,28.656896
std,2885.163629,32063.693350,623.245101,2.225110,0.206452,234.260108
min,1.000000,1040.000000,0.444000,1.000000,0.000000,-6599.978000
25%,2499.250000,23223.000000,17.280000,2.000000,0.000000,1.728750
50%,4997.500000,56430.500000,54.490000,3.000000,0.200000,8.666500
75%,7495.750000,90008.000000,209.940000,5.000000,0.200000,29.364000
max,9994.000000,99301.000000,22638.480000,14.000000,0.800000,8399.976000

#### Adding additional column to check lag between order and shiping

In [6]:
df['Order to Ship Days'] = df['Ship Date']-df['Order Date']

# Changed Order to Ship Days to dtype int
df['Order to Ship Days'] = df['Order to Ship Days'].dt.total_seconds().astype('int')/86200
df['Order to Ship Days'] = df['Order to Ship Days'].astype('int')
df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,State_Code,Order to Ship Days
0,1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136,KY,3
1,2,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs, Rounded Back",731.9400,3,0.00,219.5820,KY,3
2,3,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters by Universal,14.6200,2,0.00,6.8714,CA,4
3,4,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310,FL,7
4,5,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164,FL,7

In [7]:
import plotly.express as px
# Construct the graph and style it. Further customize your graph by editing this code.
# See Plotly Documentation for help: https://plotly.com/python/plotly-express/
fig = px.histogram(df, x='Order to Ship Days', histfunc='count')
fig.update_layout(
    title='Order to Ship Days lag histogram', 
    xaxis = dict(
        showgrid=True, 
        rangeslider = dict(
            visible=True, 
            thickness=0.05
        )
    ), 
    yaxis = dict(
        showgrid=True
    ), 
    legend = dict(
        orientation='v'
    ), 
    barmode='group', 
    paper_bgcolor='#FFFFFF'
)
fig.show(renderer="iframe")

In [8]:
## Orders by Segment

import plotly.express as px
# Construct the graph and style it. Further customize your graph by editing this code.
# See Plotly Documentation for help: https://plotly.com/python/plotly-express/
fig = px.histogram(df, x='Segment', y='Order Date', histfunc='count')
fig.update_layout(
    title='Orders count by Segment', 
    xaxis = dict(
        showgrid=True, 
        rangeslider = dict(
            visible=True, 
            thickness=0.05
        )
    ), 
    yaxis = dict(
        showgrid=True
    ), 
    legend = dict(
        orientation='v'
    ), 
    barmode='group', 
    paper_bgcolor='#FFFFFF'
)
fig.show(renderer="iframe")

In [9]:
# Pivoted into df
tmp_df = df[['State_Code', 'Quantity', 'Sales', 'Profit']].copy()
pivot_table = tmp_df.pivot_table(
    index=['State_Code'],
    values=['Sales', 'Quantity', 'Profit'],
    aggfunc={'Sales': ['sum'], 'Quantity': ['sum'], 'Profit': ['sum']}
)

pivot_table.columns = pivot_table.columns.get_level_values(0)
df_pivot = pivot_table.reset_index()
df_pivot

   State_Code      Profit  Quantity        Sales
0          AL   5786.8253       256   19510.6400
1          AR   4008.6871       240   11678.1300
2          AZ  -3427.9246       862   35282.0010
3          CA  76381.3871      7667  457687.6315
4          CO  -6527.8579       693   32108.1180
5          CT   3511.4918       281   13384.3570
6          DC   1059.5893        40    2865.0200
7          DE   9977.3748       367   27451.0690
8          FL  -3399.3017      1379   89473.7080
9          GA  16250.0433       705   49095.8400
10         IA   1183.8119       112    4579.7600
11         ID    826.7231        64    4382.4860
12         IL -12607.8870      1845   80166.1010
13         IN  18382.9363       578   53555.3600
14         KS    836.4435        74    2914.3100
15         KY  11199.6966       523   36591.7500
16         LA   2196.1023       156    9217.0300
17         MA   6785.5016       491   28634.4340
18         MD   7031.1788       420   23705.5230
19         ME    454.4862        35    1270.5300
20         MI  24463.1876       946   76269.6140
21         MN  10823.1874       331   29863.1500
22         MO   6436.2105       252   22205.1500
23         MS   3172.9762       221   10771.3400
24         MT   1833.3285        56    5589.3520
25         NC  -7490.9122       983   55603.1640
26         ND    230.1497        30     919.9100
27         NE   2037.0942       136    7464.9300
28         NH   1706.5028       127    7292.5240
29         NJ   9772.9138       454   35764.3120
30         NM   1157.1161       151    4783.5220
31         NV   3316.7659       168   16729.1020
32         NY  74038.5486      4224  310876.2710
33         OH -16971.3766      1759   78258.1360
34         OK   4853.9560       247   19683.3900
35         OR  -1190.4705       499   17431.1500
36         PA -15559.9603      2153  116511.9140
37         RI   7285.6293       199   22627.9560
38         SC   1769.0566       172    8481.7100
39         SD    394.8283        42    1315.5600
40         TN  -5341.6936       681   30661.8730
41         TX -25729.3563      3724  170188.0458
42         UT   2546.5335       219   11220.0560
43         VA  18597.9504       893   70636.7200
44         VT   2244.9783        50    8929.3700
45         WA  33402.6517      1883  138641.2700
46         WI   8401.8004       463   32114.6100
47         WV    185.9216        18    1209.8240
48         WY    100.1960         4    1603.1360

In [10]:
## Orders Count by State

temp_df = df_pivot[['State_Code', 'Sales']].copy()
temp_df = temp_df.nlargest(10, columns=['Sales'])

import plotly.express as px
# Construct the graph and style it. Further customize your graph by editing this code.
# See Plotly Documentation for help: https://plotly.com/python/plotly-express/
fig = px.bar(temp_df, x='State_Code', y='Sales')
fig.update_layout(
    title='Top 10 States by Sales', 
    xaxis = dict(
        showgrid=True, 
        rangeslider = dict(
            visible=True, 
            thickness=0.05
        )
    ), 
    yaxis = dict(
        showgrid=True
    ), 
    legend = dict(
        orientation='v'
    ), 
    barmode='group', 
    paper_bgcolor='#FFFFFF'
)
fig.show(renderer="iframe")

In [11]:
df_temp = df_pivot.copy()
df_temp = df_temp.sort_values(['State_Code', 'Sales'])
df_temp = df_temp.groupby(['State_Code'])['Sales'].sum().reset_index()
# df_temp = df_temp.rename(columns = {'Quantity': 'Count'})
df_temp = df_temp.sort_values(['Sales'])
color_max = df_temp['State_Code'].max()
fig = px.choropleth(
    locations=df_temp['State_Code'], 
    color = df_temp['Sales'].astype(float), 
    locationmode="USA-states", 
    scope="usa", 
    color_continuous_scale = 'ylorrd', 
    labels={'color':'Sales'},
    title = 'Number of Simulated Locations by State',
#     animation_frame=df_temp["Sales"],
#     animation_group=df_temp["State"],
     range_color = [0, color_max]
    )
# fig.update_layout(
#     title_x =0.5,
#     title_font_size=30)
fig.show(renderer="iframe")

ValueError:
    Invalid value of type 'builtins.str' received for the 'cmax' property of layout.coloraxis
        Received value: 'WY'

    The 'cmax' property is a number and may be specified as:
      - An int or float

## Checking monthly Sales over the period of time

In [12]:
# Pivoted into df
tmp_df = df[['Sales', 'Ship Date']].copy()
tmp_df['Ship Date (year-month)'] = tmp_df['Ship Date'].dt.strftime("%Y-%m")
pivot_table = tmp_df.pivot_table(
    index=['Ship Date (year-month)'],
    values=['Sales'],
    aggfunc={'Sales': ['count']}
)
# pivot_table = pivot_table.set_axis([flatten_column_header(col) for col in pivot_table.keys()], axis=1)
pivot_table.columns = pivot_table.columns.get_level_values(0)
df_pivot = pivot_table.reset_index()
df_pivot

   Ship Date (year-month)  Sales
0                 2014-01     72
1                 2014-02     50
2                 2014-03    141
3                 2014-04    135
4                 2014-05    126
5                 2014-06    132
6                 2014-07    151
7                 2014-08    149
8                 2014-09    248
9                 2014-10    169
10                2014-11    313
11                2014-12    254
12                2015-01    104
13                2015-02     64
14                2015-03    131
15                2015-04    146
16                2015-05    141
17                2015-06    156
18                2015-07    149
19                2015-08    143
20                2015-09    289
21                2015-10    167
22                2015-11    307
23                2015-12    334
24                2016-01     99
25                2016-02     92
26                2016-03    155
27                2016-04    175
28                2016-05    184
29                2016-06    233
30                2016-07    199
31                2016-08    156
32                2016-09    367
33                2016-10    200
34                2016-11    368
35                2016-12    350
36                2017-01    165
37                2017-02    118
38                2017-03    225
39                2017-04    197
40                2017-05    243
41                2017-06    243
42                2017-07    222
43                2017-08    226
44                2017-09    452
45                2017-10    295
46                2017-11    448
47                2017-12    469
48                2018-01     42

#### Plotting periodic sales on bar chart

In [13]:
import plotly.express as px
# Construct the graph and style it. Further customize your graph by editing this code.
# See Plotly Documentation for help: https://plotly.com/python/plotly-express/
fig = px.bar(df_pivot, x='Ship Date (year-month)', y='Sales', color='Sales')
fig.update_layout(
    title='Monthly Sales over the Period', 
    xaxis = dict(
        showgrid=True, 
        rangeslider = dict(
            visible=True, 
            thickness=0.05
        )
    ), 
    yaxis = dict(
        showgrid=True
    ), 
    legend = dict(
        orientation='v'
    ), 
    barmode='group', 
    paper_bgcolor='#FFFFFF'
)
fig.show(renderer="iframe")

## Checking Sales over the different month of Year (Jan, Feb etc.)

In [14]:
# Pivoted into df
tmp_df = df[['Profit', 'Sales', 'Order Date', 'Discount', 'Quantity']].copy()
tmp_df['Order Date (month)'] = tmp_df['Order Date'].dt.month
pivot_table2 = tmp_df.pivot_table(
    index=['Order Date (month)'],
    values=['Sales', 'Quantity', 'Profit', 'Discount'],
    aggfunc={'Sales': ['sum'], 'Quantity': ['sum'], 'Profit': ['sum'], 'Discount': ['mean']}
)
pivot_table2.columns = pivot_table2.columns.get_level_values(0)
df_pivot2 = pivot_table2.reset_index()
df_pivot2

    Order Date (month)  Discount      Profit  Quantity        Sales
0                    1  0.149921   9134.4461      1475   94924.8356
1                    2  0.146233  10294.6107      1067   59751.2514
2                    3  0.155029  28594.6872      2564  205005.4888
3                    4  0.163129  11587.4363      2447  137762.1286
4                    5  0.165429  22411.3078      2791  155028.8117
5                    6  0.162817  21285.7954      2680  152718.6793
6                    7  0.157887  13832.6648      2705  147238.0970
7                    8  0.154235  21776.9384      2784  159044.0630
8                    9  0.148995  36857.4753      5062  307649.9457
9                   10  0.162601  31784.0413      3104  200322.9847
10                  11  0.158307  35468.4265      5775  352461.0710
11                  12  0.150433  43369.1919      5419  325293.5035

#### Plotting sales by Month on bar chart

In [15]:
import plotly.express as px
# Construct the graph and style it. Further customize your graph by editing this code.
# See Plotly Documentation for help: https://plotly.com/python/plotly-express/
fig2 = px.bar(df_pivot2, x='Order Date (month)', y='Sales', color='Profit')
fig2.update_layout(
    title='Sales by Month', 
    xaxis = dict(
        showgrid=True, 
        rangeslider = dict(
            visible=True, 
            thickness=0.05
        )
    ), 
    yaxis = dict(
        showgrid=True
    ), 
    legend = dict(
        orientation='v'
    ), 
    barmode='group', 
    paper_bgcolor='#FFFFFF'
)
fig2.show(renderer="iframe")

In [18]:
# by state
store_by_st = df.copy()
store_by_st = store_by_st.groupby('State_Code')['Sales'].count().reset_index()
# store_by_st.rename(columns = {'long':'Number of Locations'}, inplace = True)
fig = px.choropleth(
    locations=store_by_st['State_Code'], 
    color = store_by_st['Sales'].astype(float), 
    locationmode="USA-states", 
    scope="usa", 
    color_continuous_scale = 'ylorrd', 
    labels={'color':'Sales'},
    title = 'Number of Simulated Locations by State'
    )
fig.show(renderer="iframe")
##################
# by county 
# with urlopen('https://raw.githubusercontent.com/plotly/datasets/master/geojson-counties-fips.json') as response:
#     counties = json.load(response)
# store_by_county = df.groupby('county_fips')['long'].count().reset_index()
# store_by_county.rename(columns = {'long':'Number of Locations'}, inplace = True)
# fig = px.choropleth(
#     locations=store_by_county['county_fips'], 
#     color = store_by_county['Number of Locations'].astype(float), 
#     geojson=counties, 
#     scope="usa", 
#     color_continuous_scale = 'ylorrd', 
#     labels={'color':'Number of Locations'},
#     title = 'Number of Simulated Locations by County'
#     )